body {
background: #efefef;
font-family: arial;
text-align: center;
width: 1400px;
margin-left: auto;
margin right: auto;
}
h1 {
font-size: 50px;
background: red;
}
p {

font-family:aharoni;
font-size: 20px
}
a {
color: #000000;
text-decoration: none;
font-size: 30px;
font-family: brittanic bold;
width: 1200px;
left: 50%
}